<mat-toolbar color="primary" style="min-height:150px">


 <img src="../../assets/images/D.png" alt="D" width="100" height="100" (click)="goHome()">



  <h1 style="
  color: rgb(191, 191, 191);
  font-size: 100px;
  z-index: 0;
  opacity: 0.1;
  ">E-Auction</h1>


<button id="menuButton"  mat-button [matMenuTriggerFor]="menu" mat-raised-button>Menu</button>
<mat-menu    #menu="matMenu">
  <button mat-menu-item>

    <a routerLink="/home" routerLinkActive="active">Home</a>

  </button>
  <button mat-menu-item>

      <!-- link to login href -->
      <a href="http://localhost:4200/login" routerLinkActive="active">Login</a>


  </button>
  <button mat-menu-item>

    <!-- link to login href -->
    <a href="http://localhost:4200/register" routerLinkActive="active">Register</a>


</button>
</mat-menu>


  </mat-toolbar>

