
<app-header></app-header>

<h1 *ngIf="me.length > 1" style="text-align: center; margin-top: 50px;">
    Welcome {{me}}. You Have Successfully Logged In!
</h1>


<mat-card class="login-card" >
<form (submit)="loginUser(loginForm)" #loginForm="ngForm">
<mat-form-field color="primary" >

    <mat-label>Email</mat-label>
    <input matInput type="text" ngModel #email="ngModel" name="email" required>
    <mat-error *ngIf="email.invalid">
        Email is required. Must by in Email format.
    </mat-error>

</mat-form-field>

<mat-form-field color="primary" >
    <mat-label>Pin</mat-label>
    <input matInput type="number" ngModel #pin="ngModel" name="pin" required>
    <mat-error *ngIf="pin.invalid">
        Pin is required.
    </mat-error>

</mat-form-field>

<button color="accent" mat-raised-button type="submit">Submit</button>
</form>
</mat-card>

