

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

.form-group {
    margin: 40px 40px 40px 40px;
}
table {
    display: block;
    margin: 40px;

}

tr {
    display: flex;
    margin-top: 10px;

}
th{
    width: 250px;
}

td, input {
   width: 250px;
   margin-left: 15px;
}

thead {
    display: flex;
    margin-left : 10px;
}

/* .fetchButton {
    margin-top: 20px;
    margin-left: 35px;
}
 */
