

th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    text-align: center;
}

.form-group {
    margin: 40px 40px 40px 40px;
}
table {
    display: block;
    margin: 40px;

}

tr {
    display: flex;

}
th{
    width: 150px;
}

td {
    margin-left: 100px;
    width: 600px;
}


