

  <button mat-raised-button color="primary" (click)="onFetchProductDetails()"> Fetch Product</button>
  <button class="fetchButton" mat-raised-button color="accent" (click)="toggleBool()" style="margin-left: 10px;"> Fetch Details</button>


<mat-form-field>
  <mat-label>Product</mat-label>
  <mat-select [(value)]="selectedProduct" (selectionChange)="onSelect(selectedProduct)">
    <mat-option *ngFor="let product of products" [value]="product.productName">{{product.productName}}</mat-option>
  </mat-select>
</mat-form-field>





  <table *ngIf="bool == false">

    <tr  *ngFor="let product of products">
      <th>Product Name</th>
      <input mat-input type="text" [(ngModel)]="product.productName" />
    </tr>

    <tr *ngFor="let product of products">
      <th>Product Description</th>
      <input type="text" [(ngModel)]="product.shortDescription" />
    </tr>

    <tr *ngFor="let product of products">
      <th>Product Category</th>
      <input type="text" [(ngModel)]="product.productCategory" />
    </tr>

    <tr *ngFor="let product of products">
      <th>Starting Price</th>
     <input type="text" [(ngModel)]="product.startingPrice" />
    </tr>

    <tr *ngFor="let product of products">
      <th>Bid End Date</th>
      <input type="text" [(ngModel)]="product.bidEndDate" />
    </tr>
  </table>


<table *ngIf="this.productSpecificBids.length > 0">
    <thead>
      <tr >
        <th scope="col" >Bid Amount</th>
        <th scope="col" style="margin-left: 10px;">First Name</th>
        <th scope="col" style="margin-left: 10px;">Email</th>
        <th scope="col" style="margin-left: 10px;">Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bid of this.productSpecificBids">
        <td style="margin-left: 10px;">{{bid.bidAmount}}</td>
        <td style="margin-left: 10px;">{{bid.firstName}}</td>
        <td style="margin-left: 10px;">{{bid.email}}</td>
        <td style="margin-left: 10px;">{{bid.phone}}</td>


      </tr>
    </tbody>
  </table>
