
<div class="form-group" style="display: flex; justify-content: space-between;">

  <label for="product">Product</label>
  <select  style="width: 200px;"  class="form-control" id="product" [(ngModel)]="selectedProduct" (change)="onSelect(selectedProduct)">
    <option *ngFor="let product of products" [ngValue]="product.productName">{{product.productName}}</option>

  </select>
  <button mat-raised-button color="primary" (click)="onFetchProductDetails()" >Fetch Product</button>
</div>


<button (click)="toggleBool()" >Fetch Details</button>

  <table *ngIf="bool == false">
    <tr  *ngFor="let product of products">
      <th>Product Name</th>
      <input mat-input type="text" [(ngModel)]="product.productName" />
    </tr>

    <tr *ngFor="let product of products">
      <th>Product Description</th>
      <input type="text" [(ngModel)]="product.shortDescription" />
    </tr>

    <tr *ngFor="let product of products">
      <th>Product Category</th>
      <input type="text" [(ngModel)]="product.productCategory" />
    </tr>

    <tr *ngFor="let product of products">
      <th>Starting Price</th>
     <input type="text" [(ngModel)]="product.startingPrice" />
    </tr>

    <tr *ngFor="let product of products">
      <th>Bid End Date</th>
      <input type="text" [(ngModel)]="product.bidEndDate" />
    </tr>
  </table>


<table *ngIf="this.productSpecificBids.length > 0">
    <thead>
      <tr >
        <th scope="col" >Bid Amount</th>
        <th scope="col" style="margin-left: 10px;">First Name</th>
        <th scope="col" style="margin-left: 10px;">Email</th>
        <th scope="col" style="margin-left: 10px;">Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let bid of this.productSpecificBids">
        <input type="text" [(ngModel)]="bid.bidAmount" />
        <input type="text" [(ngModel)]="bid.firstName" />
        <input type="text" [(ngModel)]="bid.email" />
        <input type="text" [(ngModel)]="bid.phone" />


      </tr>
    </tbody>
  </table>
